.CharacterCreation{
    text-align: center;
    margin: auto;
}

.Modal1 {
/*Ask about center alignment */
    text-align: center;
 
    background-color: rgb(247, 247, 247, 0.7);
}

/*
.FormPlusButton {
    width: auto;
    border: 1px dotted black; */
/*Ask about center alignment */
   
 /*  
}*/ 

.Modal1 label p {
    text-decoration: underline;
    color: #b44040;
    /*font-family: Roboto;*/
    font-weight: bold;
}

.Modal1 button{
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100px;
    height: 25px;
    border-style: hidden;
    border-radius: 3%;
}

.Modal1 input{
    margin-top: 0px;
    border: 1px solid gray ;
    border-radius: 3%;
    min-height: 20px;
    height: 3vh;
}

.Modal1 h2{
color: black;
font-family: "Cinzel", Roboto, serif;
}