
.wrapper{
    margin:10px;
}

.CharacterSelect {
    text-align: center;
}


.characterOption h3, .characterOption h5 {
   padding:8px;
   margin:0;
   text-align: left;
}

.characterOption a{
    width:90%;
    margin:0;
    padding:10px;
    border: 1px black dotted;
    border: 1px black dotted;
	border-left: none;
}

.characterOption{
    display:flex;
	margin:auto;
    margin-bottom:5px;
	background-color: rgb(235, 235, 235);
}

/*.characterList{

}
*/
.createNew{
    margin: auto;
    border: 1px grey solid;
    border-radius: 3%;
    height: 5%;
    width: 20%;
    background-color: lightgrey;
}

a{
    text-decoration: none;
	color: black;
}

.characterOption img{
	border: 1px black dotted;
	border-right: none;
}

.characterOption button{
    margin: 0%;
    background-color: #b44040;
    border:none;
    color: white;
}
