.CharacterCreation{
    text-align: center;
/* Center content*/
    margin: auto;
}

.Modal1 {
    /*Ask about center alignment */
    text-align: center;
    /* Make modal background color light gray and slightly transparent */ 
    background-color: rgb(247, 247, 247, 0.9);
    margin: 1% auto;
    width: 95%;
    border: 1px solid lightgrey;
    box-shadow: 10px 10px 5px grey;
    min-width: 250px;
    width: 45%;
}

.Modal1 label p {
    /*Fonts etc */
    text-decoration: underline;
    /*font-family: Roboto;*/
    font-weight: bold;
    margin:auto;
    width:90%;
    text-align: left;
    text-decoration: none;
    margin-top:20px;
}

.Modal1 button{
    /* Button style*/
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    height: 40px;
    border: 1px solid grey;
    border-radius: 3%;
    font-size:20px;
}

.Modal1 input{
    margin-top: 0px;
    border: 1px solid gray ;
    min-height: 20px;
    height: 3vh;
}

.Modal1 h2{
    /* "Header text" */
    color: black;
    font-family: Roboto, serif;

}

.Modal1 input[type=text] {
    text-align: center;
    border: none;
    border: 1px solid black;
    background-color: rgb(247, 247, 247, 0.9);
}

.Modal1 input[type=number]{
    text-align: center;
    border: none;
    border: 1px solid black;
    background-color: rgb(247, 247, 247, 0.9);
}
.Modal1 select{
    text-align: center;
    border: none;
    border: 1px solid black;
    background-color: rgb(247, 247, 247, 0.9);
}
.Modal1 select, .Modal1 input[type=number], .Modal1 input[type=text] {
    width:90%;
    height:50px;
    margin:0;
    font-size: 20px;
}
.Modal1 input:focus{
   /* outline: none; */
    outline-color: darkgrey;
}

.Modal1:focus {
    outline: none;
}

button:focus{
outline: none;
}
