body{
    background: #F6F6F6;
}

.wrapper{
    margin:10px;
}

.CharacterSelect {
    text-align: center;
}

.characterOption{
    width:100%;
    margin:0;
    display:flex;
	margin:auto;
    margin-bottom:5px;
        -webkit-box-shadow: 0 8px 6px -6px gray;
           -moz-box-shadow: 0 8px 6px -6px gray;
                box-shadow: 0 8px 6px -6px gray;
    
}
.characterOption a{
    width:90%;
    margin:0;
    padding:10px;
    background-color:white;
    border-left: none;
    text-decoration: none; 
    color: #282828;
}

.characterOption a h3, .characterOption a h5 {
   padding:8px;
   margin:0;
   padding:0;
   text-align: left;  
}
.characterOption a h3{
    font-size: 35px;
 }
.createNew{
    margin: auto;
    width: 100%;
    border: solid lightgrey 1px; 
    color: #282828;
    
    border-radius: 2px;
    font-weight:bold;
    margin-top:10px;
}

.createNew a{
    padding:10px 0;
    text-decoration: none;
	color: black;
}

.characterOption img{
	border-right: none;
}

.characterOption button{
    margin: 0%;
    width:20%;
    background-color: #b44040;
    border:none;
    color: white;
}


div.ReactModal__Content {
    width:95%;
    display:flex;
}

div.ReactModal__Content form{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;

}
div.ReactModal__Content form label{
    width:100%;
    justify-content:space-between;
}
div.ReactModal__Content form label p{
    margin:auto;
    width:90%;
    text-align: left;
    text-decoration: none;
    margin-top:20px;
}
div.ReactModal__Content form label input, div.ReactModal__Content form label select {
    width:90%;
    height:50px;
    margin:0;
    font-size: 20px;
    
}
div.ReactModal__Content form label p{
 
}


