nav img{
    height:30px;
    padding:10px;
}

nav{
    background:#b44040;
    display:flex;
    justify-content: space-between;
    height:50px;
}
nav h2{
    margin:auto;
    font-size: 24px;
    padding:10px;
}
nav a{
    margin-top:10px;
    fill:white;
}
nav a.invisible{
    fill:#b44040;
}
nav p{
    color:#b44040;
    font-size:24px;
    padding: 0 10px;
}
nav h2{
    margin:0;
    color:white;
}

.section-1{
    margin:10px 10px 0;
    display:flex;
}
.section-1 img{
    height:80px;
    margin:0;
} 
.section-1 h2, .section-1 p, .section-1 h3{
    margin:0;
    line-height: 24px;
}
.section-1 .text{
    display:block;
    padding:10px;
    width:100%;
}
.text div{
    display:flex;
    justify-content: space-between;
    width:100%;
}
.section-1 h2{
    font-size: 25px;
    font-weight: bolder;
   
}
.section-1 h3{
    color: Green;
    font-size:30px;

}
.section-1 button{
    display: inline-blok;
}

.StatsAddNew form button {
    display: inline-block;
}

.HP{
    background:#335425;
}
.XP{
    background:#0c3168;
}

.XP, .HP{
    
    display:flex;
    margin:5px 10px;
    justify-content: space-between;
    border-radius: 3px;
    height:40px; 
}
.innerHP{
    background:#5d9843;
    border-radius: 3px 0 0 3px;
    
}
.innerXP{
    background:#2b76e6;
    border-radius: 3px;
}
.temporaryHP{
    background: #fdb515;
    border-radius: 0 3px 3px 0;
}
.temporaryHP p{
   
    
}

.HP p, .XP p{
    position:absolute;
    font-size: 15px;
    color:white;
    padding:5px;
    margin:auto;
    margin-top:5px;
    font-family: 'Roboto';
}
.HP p span{
    font-family: 'Roboto';
    color:#fecd61;
}

.XP div button, .HP div button{
    text-decoration: none;
 
    font-size: 15px;
}
.characterOption{
    background:white;
}

.characterOption img{
    height:60px;
    padding:10px 0 10px 10px;
}
.menu{
    display:flex;
    justify-content: space-around;
    padding: 0 5px;
    font-weight: bolder;
    
}

.menu button{
    font-weight: bolder;
    margin-top: 5px;
    padding:5px;
    background: 0;
    border:0;
    font-size:12px;
    width:25%;
    border-bottom: 2px transparent;
   
}

.menu .active{
  
    background:#b44040;
    color:white;
    border-radius:60px;
}

.page{
    padding: 10px;
}

div.baseStats{
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
}

.baseStat{
    border-left:solid 3px #b44040;
    display:flex;
    justify-content: space-around;
    padding:10px;
    background:white;
    margin:5px;
    
    -webkit-box-shadow: 0 8px 6px -6px lightgray;
    -moz-box-shadow: 0 8px 6px -6px lightgray;
         box-shadow: 0 8px 6px -6px lightgray;
    
}

.BaseStatCard{
    width:33%;
    
}

.baseStatImage{
    height:40px;
}


.baseStat p{
    margin:0; 
    font-family: 'roboto';
}


.StatCard{
    border-left:4px #b44040 solid;
}
.StatCard div{
    display:flex;
    justify-content: space-between;
}

.Card{
    padding:5px;
    background:white;
    margin-bottom:5px;
        -webkit-box-shadow: 0 6px 4px -4px lightgray;
           -moz-box-shadow: 0 6px 4px -4px lightgray;
                box-shadow: 0 6px 4px -4px lightgray;
    
}
.Card p{
    margin:0;
}

.addStatBtn{
    position:fixed;
    bottom:0;
    right:0;
    margin:10px;
    font-size:35px;
    color:white;
    background: green;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.addStatModal{
    display:block;
    
 }

.addStatModal form{
   width:90%;
   padding:10px 0;
   margin:auto;

}
.addStatModal form input, .addStatModal form select, .addStatModal form div input{
    width:100%;
    margin: 5px 0;
    padding:10px;
    font-size:20px;
    border:solid 2px black;
 }
 .addStatModal form p{
    width:100%;
    align-text:left;
    margin: 10px 0 0;
 }

 .addStatModal button{
     width:90%;
     font-size:20px;
     background:green;
     border:0;
     color:white;
     border-bottom: 4px darkgreen solid;
     border-radius:3px;
     margin:0 5% 15px;
     padding:5px 0;
     font-weight: bold;
 }
 
.remove-temp{
    position: absolute;
    font-family: Roboto;
    border:0;
    background:#fdb515;
    border-radius:20px;
    margin: 0 10px;
}


.searchbar{
    border:0;
    width:97%;
    border-bottom:1px #b44040 solid;
    border-top:1px #b44040 solid;
    border-right:5px #b44040 solid;
    border-left:5px #b44040 solid;
    font-size: 15px;
    padding:5px 0;
    text-align: center;
    margin: 5px 0 10px 0;
    border-radius: 20px;
    
}

.ReactModal__Content.modalStatCard ,.ReactModal__Content.BaseStatModal{
    z-index:3;
    display:block;
    background:#F6F6F6;
    width:90%;
    margin:auto;
    margin-top:35vh;
    border:6px double #b44040;
    border-radius: 3px;
    -webkit-box-shadow: 0 10px 6px -6px gray;
    -moz-box-shadow: 0 10px 6px -6px gray;
         box-shadow: 0 10px 6px -6px gray;
}

.BaseStatModal div p{
    font-size: 60px;
    margin:0;
}

.BaseStatModal div{
    display:flex;
    justify-content: space-around;
}
.BaseStatModal h5{
    text-align: center;
    margin:0 0 10px 0;
}


.Modal h2{
    width: 100%;
    text-align: center;
    margin:10px 0;
}
.modalStatCard p{
    text-align:center;
    width:40%;
    font-size:60px;
    margin:0;
}
.modalStatCard h5{
    text-align:center;
    margin:-10px 0 20px;
}
.modalStatCard .statDisplay{
    width:100%;
    display:flex;
    justify-content:space-around;
}

.modalStatCard .statDisplay button , .BaseStatModal div button{
    position: static;
    font-size: 30px;
    padding:0;
    background:white;
    color:black;
    width:50px;
    height: 50px;
    border-radius:25px;
}

.closeCard{
    margin-bottom:-50px;
}

.toTop{
    font-size:15px;
    padding:15px 0;
    width: 100%;
    border: solid lightgrey 1px; 
    color: #282828;
    border-radius: 2px;
    font-weight:bold;
    margin:5px 0 60px 0;
}

.Modal{
    background: #F6F6F6;
    margin:auto;
}
div.ReactModal__Content {
    display: block;
}

.remove-btn{
    background:#b44040;
    color:white;
    padding:7px;
    border:0;
    position: absolute;
    border-radius:3px;
    margin-top:10px;
    font-family:'Roboto';
    -webkit-box-shadow: 0 10px 6px -6px gray;
    -moz-box-shadow: 0 10px 6px -6px gray;
         box-shadow: 0 10px 6px -6px gray;

}


.HPandXPModal div input{
   text-align: center;
}
.HPandXPModal div h4{
    font-family: 'Roboto';
    margin:10px 0 5px 0;
 }

 .modalBar{
     padding-top:5px;
     width:100%;
     margin:0;
 }

 .HPandXPModal{
     display: block;
     z-index:3;
     width:90%;
     margin:auto;
     margin-top:5px;
     border:6px double #b44040;
     border-radius: 3px;
     -webkit-box-shadow: 0 10px 6px -6px gray;
     -moz-box-shadow: 0 10px 6px -6px gray;
          box-shadow: 0 10px 6px -6px gray;
 }

 .infoHPXP{
     padding:10px;
     display:block;
     
 }

 .info-change{
    width:100%;
     display:block;
 }

 .levelUpModal{
     display:flex;
     flex-wrap:wrap;
     justify-content: center;
     padding: 0 10px 10px;
 }

 
 .levelUpModal p, .levelUpModal h4{
    width:80%;
    text-align:center;
 }

 .levelUpModal p{
     font-size:14px;
    font-family: 'Roboto';

 }

 .levelUpModal h4{
     margin:15px 0 5px;   
 }

 .info-change input, .levelUpModal input{
    width:60%;
    font-size:30px;
    text-align:center;
}

.levelUpModal input{
    width:100%;
 }
 .levelUpModal button{
    width:100%;
    font-size:16px;
    padding: 10px 0;
    font-weight: bolder;
     border-radius:3px;
     color:#282828;
     background: #fecd61;
     box-shadow: 0px 3px #ad7801;
     border:0;
   
 }

 .lvlUpModal{
     margin-top:30%;
 }
.search-icon{
    position: absolute;
    padding:10px;
    fill:gray;

}

.green-border, .info-change .green-border{
    border-radius: 200px;
    border-bottom:1px #79b85e solid;
    border-top:1px #79b85e solid;
    border-right:5px #79b85e solid;
    border-left:5px #79b85e solid;
}

.yellow-border, .info-change .yellow-border{
    border-radius: 200px;
    border-bottom:1px #fdb515 solid;
    border-top:1px #fdb515 solid;
    border-right:5px #fdb515 solid;
    border-left:5px #fdb515 solid;
}

.blue-border, .info-change .blue-border{
    border-radius: 200px;
border-bottom:1px #2b76e6 solid;
    border-top:1px #2b76e6 solid;
    border-right:5px #2b76e6 solid;
    border-left:5px #2b76e6 solid;
}



.input-group{
    width:100%;
    display:flex;
    justify-content: space-around;
}

.input-group button{
    font-size:30px;
    padding:0;
    background:white;
    width:13%;
    border-radius:50px;
    
}
.info-change h4{
    width:100%;
    text-align:center;
    font-size:15px;
}

 
 .closeModal svg{
    fill:darkgrey;
    
 }
 
 .lvlUp{
     position:absolute;
     margin:5px;
     padding:5px 25px;
     font-size:14px;
     right:6%;
     border:0;
     font-family: 'Roboto';
     border-radius:3px;
     color:#282828;
     background: #fecd61;
     box-shadow: 0px 3px #ad7801;
 }
 .lvlUp-inModal{
     right:32px;
}

 .healFull{
     font-family: 'Roboto';
     font-size: 14px;
    margin:10px;
     padding:5px; 
    position:absolute;
    right:6%;
    color:white;
    background:rgba(0,0,0,0.3);
    border: 1px dashed lightgray;
     
     

 }
 button.closeModal{
    margin:3px;
    right:5%;
    position:absolute;
    background:0;
    border:0;
    font-size: 20px;
    padding:0;
    color:grey;
    width:30px;
    height: 30px;
    border-radius:25px;
    font-family:'Roboto';
    box-shadow: 0 0 0;
}






 
 