.CharacterCreation{
    text-align: center;
    
}

.FormPlusButton {
    border: 1px dotted black;
    box-sizing: border-box;
    width: 50%;
/*Ask about center alignment */
    margin: auto;
}

/*.CharacterCreation label{

} */

.CharacterCreation label p {
    text-decoration: underline;
    
    /*font-family: Roboto;*/
    font-weight: bold;
}

.CharacterCreation button{
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100px;
    height: 25px;
}

.CharacterCreation input{
    margin-top: 0px;
    border: 1px solid gray ;
    min-height: 20px;
    height: 3vh;
}

.Modal1 h2{
    /* "Header text" */
    color: black;
    font-family: Roboto, serif;

}

.Modal1 input[type=text] {
    text-align: center;
    border: none;
    border: 1px solid black;
    background-color: rgb(247, 247, 247, 0.9);
}

.Modal1 input[type=number]{
    text-align: center;
    border: none;
    border: 1px solid black;
    background-color: rgb(247, 247, 247, 0.9);
}
.Modal1 select{
    text-align: center;
    border: none;
    border: 1px solid black;
    background-color: rgb(247, 247, 247, 0.9);
}

.CharacterCreation button{
    border-style: hidden;
    border-radius: 3%;
}